<?xml version="1.0" ?>
<model>
  <name>Crate</name>
  <version>0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Freddy Liendo</name>
    <email>freddy-jose.liendo-morales@univ-smb.com</email>
  </author>
  <description>A simple crate model based on the Eurobot 2026 official dimensions</description>
</model>